/* CHAT.js */
.Animation{
  width: 200px;
  height: 200px;
  /* width: 100px;
  height: 100px; */
  /* position: absolute; */
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* animation-iteration-count: 3; */
  /* animation-direction: reverse;   */
}

@keyframes example {

  0%   {left:-360px; top:0px;}
  5%  {left:-320px; top:20px;}
  10%  {left:-280px; top:15px;}
  15%  {left:-240px; top:5px;}
  20%  {left:-200px; top:20px;}
  25%  {left:-160px; top:25px;}
  30%  {left:-120px; top:30px;}
  35%  {left:-100px; top:35px;}
  40%  {left:-80px; top:30px;}
  45%  {left:-40px; top:20px;}
  50%  {left:0px; top:25px;}
  55%  {left:160px; top:20px;}
  60%  {left:200px; top:25px;}
  70%  {left:240px; top:30px;}
  80%  {left:280px; top:35px;}
  90%  {left:320px; top:25px;}
  90%  {left:360px; top:0px;}


   /* 0%   {left:0px}
  25% {left:0px}
  50%  {left:500px}
  55%  {left:500px}
  75%  {left:500px}
  100%  {left:0px} */

  /* 0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;} */
}




.App {
  text-align: center;
}

.ProfileImg{
  border-radius: 8px;
}
.paper {
  overflow: hidden;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}
